*{
    margin: 0%;
    padding: 0%;
}
nav{
    background-color: rgb(10, 156, 156);
    color: white;
    display: flex;
    height: 75px;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    

}
nav ul{
    list-style-type: none;
}

.bigbigbox{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.bigbox{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    position: relative;
    
}
.box{
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    display: flex;
    cursor: pointer;
}
.box:hover{
    background-color: rgb(218, 158, 238);
}
.tb{
    border-top: none;
}
.bb{
    border-bottom: none;
}
.lb{
    border-left: none;
}
.rb{
    border-right: none;
}
.display{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Reset{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}